<div *ngIf="!(ticket$ | async) && !errorMensaje" class="card loading-card">
  <p>Buscando ticket...</p>
</div>

<div *ngIf="ticket$ | async as ticket" class="ticket-detalle-container">
  <h2 class="detalle-titulo">Detalles del Ticket Activo</h2>
  
  <app-ticket-recibo [ticket]="ticket"></app-ticket-recibo>

  <a routerLink="/dashboard/ingresar-vehiculo" class="btn btn-secondary">
    Registrar Otro Ingreso
  </a>
  <a routerLink="/dashboard/ver-ticket-activo" class="btn btn-secondary btn-grey">
    Buscar Otra Placa
  </a>
</div>

<div *ngIf="errorMensaje" class="response-message error">
  {{ errorMensaje }}
</div>