/* src/app/features/dashboard/dashboard.component.css */

.main-content-wrapper {
  /* Apartamos el contenido para dar espacio al Sidenav (20%) */
  margin-left: 20%;

  /* Ocupamos el 80% restante */
  width: 80%; 

  /* Fondo gris claro para el área de contenido */
  background-color: var(--color-bg);
  min-height: 100vh; /* Asegura que ocupe toda la altura */
}

.page-content {
  /* Padding para que el contenido no pegue con los bordes */
  padding: 24px;
}